<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wesbunton.projects.mycertificates">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="wesbunton.github.io"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_ViewCertChainDetails"
            android:label="@string/title_activity__view_cert_chain_details"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>